---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-dpl
spec:
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: db
          image: alveoli-app/db:1666904672.59dad54
          env:
            - name: POSTGRES_PASSWORD
              value: example
            - name: POSTGRES_DB
              value: gitmesh-web
          ports:
            - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: db-svc
spec:
  type: ClusterIP
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
