---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-worker-dpl
spec:
  selector:
    matchLabels:
      app: python-worker
  template:
    metadata:
      labels:
        app: python-worker
    spec:
      containers:
        - name: python-worker
          image: alveoli-app/python-worker:1666904597.59dad54
          envFrom:
            - configMapRef:
                name: backend-config
          env:
            - name: SERVICE
              value: python-worker
