// Input/textarea focus, hover colors
.el-input__wrapper.is-focus,
.is-focus .el-input__wrapper,
.el-textarea {
  --el-input-focus-border: #f97316; // Orange-500
  --el-input-focus-border-color: #f97316; // Orange-500
  --el-select-input-focus-border-color: #f97316; // Orange-500
  --el-input-text-color: #ffffff; // White
  --el-text-color-placeholder: #71717a; // Zinc-500
  --el-input-hover-border-color: #52525b; // Zinc-600
  --el-input-bg-color: #000000;
  --el-input-border-color: #3f3f46; // Zinc-700
}

// Input/textarea error color
.el-form-item.is-error {
  .el-input__wrapper.is-focus,
  .is-focus .el-input__wrapper,
  .el-input__wrapper,
  .el-textarea {
    --el-color-danger: #ef4444;
    box-shadow: none;
    border: 1px solid var(--el-color-danger);
  }
}

// Override box-shadow with border properties
.el-input {
  &.is-disabled .el-input__wrapper {
    box-shadow: none;
    @apply bg-zinc-900;
  }

  .el-input__wrapper,
  .el-textarea__inner {
    @apply rounded-md bg-black text-white;
    box-shadow: none;
    border: 1px solid var(--el-input-border-color);
  }

  &:not(.is-disabled) .el-input__wrapper,
  .el-textarea__inner {
    &:hover {
      box-shadow: none;
      border: 1px solid var(--el-input-hover-border-color);
    }

    &.is-focus,
    &:focus {
      box-shadow: none;
      border: 1px solid var(--el-input-focus-border-color);
    }
  }
}

// Inner input/textarea color
.el-input__inner,
.el-textarea__inner {
  @apply text-white bg-transparent;
}

// Size
.el-input {
  @apply h-10 leading-10 w-full;
}

// Input prepend
.el-input-group__prepend {
  @apply font-semibold text-white px-3 flex gap-1 rounded-l-md rounded-r-none bg-zinc-900 border border-zinc-700 border-r-0;

  & ~ .el-input__wrapper {
    @apply rounded-l-none rounded-r-md;
  }
}

// Input append
.el-input-group--append {
  & > .el-input__wrapper {
    border-radius: 6px 0 0 6px !important;
  }

  .append-icon {
    @apply w-10;
  }

  .el-input-group__append {
    @apply bg-zinc-900 h-10 hover:bg-zinc-800 border border-zinc-700 border-l-0;

    & button {
      @apply p-0 flex items-center justify-center;
    }

    & i {
      @apply text-zinc-400 text-lg;
    }
  }
}
