.el-dialog {
  @apply rounded-md w-full max-w-xl bg-black border border-zinc-700;
  --el-dialog-bg-color: #000000;

  &--lg {
    @apply max-w-2xl;
  }

  &--xl {
    @apply max-w-4xl;
  }

  &--2xl {
    @apply max-w-5xl;
  }

  &__headerbtn {
    @apply w-fit h-fit top-6 right-6;

    &:hover svg {
      @apply text-orange-500;
    }
  }
  &__header {
    @apply p-6 mr-0;
  }
  &__body {
    @apply p-0 break-normal text-white;
  }

  &__title {
    @apply font-semibold text-lg text-white;
  }

  &__footer {
    @apply bg-zinc-900 flex items-center px-6 py-4 h-fit rounded-b-lg border-t border-zinc-700;
  }

  &.plain {
    .el-dialog__header {
      @apply p-0;
    }
  }

  &--sm {
    max-width: 400px;
  }

  &--md {
    max-width: 480px;
  }
}
